@model MTGO.Web.Models.BugReportModel

@{
    ViewBag.Title = "Bug Report";
    ViewBag.Description = "Squash a bug, and report it below.";
}

<div class="box grid_16">
    <div class="block">
        @using (Html.BeginForm("Bug", "Contact", FormMethod.Post, new { @class = "validate_form" }))
        {
            //@Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h2 class="section">So, you've found a bug?</h2>
            <fieldset class="label_top">
                @Html.LabelFor(m => m.Email)
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "required email text" })
                    @Html.ValidationMessageFor(m => m.Email)
                    <div class="required_tag"></div>
                </div>
            </fieldset>
            <fieldset class="label_top">
                @Html.LabelFor(m => m.Problem)
                <div>
                    @Html.TextAreaFor(m => m.Problem, new { @class = "required textarea" })
                    @Html.ValidationMessageFor(m => m.Problem)
                    <div class="required_tag"></div>
                </div>
            </fieldset>
            <fieldset class="label_top">
                @Html.LabelFor(m => m.Reproduce)
                <div>
                    @Html.TextAreaFor(m => m.Reproduce, new { @class = "required textarea" })
                    @Html.ValidationMessageFor(m => m.Reproduce)
                    <div class="required_tag"></div>
                </div>
            </fieldset>
            <div class="button_bar clearfix">
                <button class="dark" type="submit">
                    <img src="@Url.Content("~/Images/icons/small/white/mail.png")" alt="" />
                    <span>Submit Bug</span>
                </button>
                <button class="light send_right" type="reset">
                    <span>Reset</span>
                </button>
            </div>
        }
    </div>
</div>