@model MTGO.Web.Models.ContactModel

@{
    ViewBag.Title = "Contact";
    ViewBag.Description = "Use this form to contact Danbopes, the creator of MTGBot";
}

<div class="box grid_16">
<div class="block">
    @using (Html.BeginForm("Index", "Contact", FormMethod.Post, new { @class = "validate_form" }))
    {
        //@Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <h2 class="section">Contact Form</h2>
        <div class="columns clearfix">
            <div class="col_50">
                <fieldset class="label_side label_small top">
                    @Html.LabelFor(m => m.Name)
                    <div>
                        @Html.TextBoxFor(m => m.Name, new { @class = "required text" })
                        @Html.ValidationMessageFor(m => m.Name)
                        <div class="required_tag"></div>
                    </div>
                    <!--
                        <label for="name">Name</label>
                        <div>
                            <input type="text" name="name" id="name" class="required" />
                            <div class="required_tag"></div>
                        </div>
                        -->
                </fieldset>
            </div>
            <div class="col_50">
                <fieldset class="label_side label_small top right">
                    @Html.LabelFor(m => m.Email)
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "required email text" })
                        @Html.ValidationMessageFor(m => m.Name)
                        <div class="required_tag"></div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="columns clearfix">
            <div class="col_50">
                <fieldset class="label_side label_small">
                    @Html.LabelFor(m => m.Subject)
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "text" })
                    </div>
                </fieldset>
            </div>
            <div class="col_50">
                <fieldset class="label_side label_small">
                    @Html.LabelFor(m => m.StreamName)
                    <div>
                        @Html.TextBoxFor(m => m.StreamName, new { @class = "text" })
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset class="label_top">
            @Html.LabelFor(m => m.Message)
            <div>
                @Html.TextAreaFor(m => m.Message, new { @class = "required textarea" })
                @Html.ValidationMessageFor(m => m.Message)
                <div class="required_tag"></div>
            </div>
        </fieldset>
        <div class="button_bar clearfix">
            <button class="dark" type="submit">
                <img src="@Url.Content("~/Images/icons/small/white/mail.png")" alt="" />
                <span>Send</span>
            </button>
            <button class="light send_right" type="reset">
                <span>Reset</span>
            </button>
        </div>
    }
</div></div>